


 /* start header */


#mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    margin-top: 140px;
    height: 80px;
    z-index: 1;
    } 

#mySidenav  img{
    width: 55px;
    height: 55px;
 
    }

#mySidenav a:hover {
   left: 0px;
    width: 250px;
    font-size: 20px;
    }

#market {
    top: 70px;
    background-color:  #999;
    margin-bottom: 10px;
}

#coffe {
    top: 130px;
    background-color: #00a79d ;
}

#garden {
    top: 190px;
    background-color:#e66761;
}

#clinic {
    top: 250px;
    background-color: #999;
}
#vaccination {
    top: 310px;
    background-color: #00a79d;
}

 /* end header */




 /* stard market */
.pic{
    margin-left: 10px;
    margin-top: 80px;
margin-bottom: 20px;
    height: 100px;
    
}
.pic img{
   
   height: 80px;
     float: left;
    margin-right: 20px;
}

.pic  h2{
 
    color: #e66761;
	font-size:23px;
	font-weight: bold ;
   padding-top: 20px;
}

.market{
    border-radius: 10px;
      background:  url('../pic/backGrouund.png');
     -webkit-background-size:cover ;
    -moz-background-size:cover ;
    background-size:cover ;
    margin-left: 15px;
    position: relative;
}
@media (min-width: 992px){
.market{
     margin-left: 300px;
     margin-top: 20px;
 width: 800px;
    }
.pic{
    margin-left: 350px;
    margin-top: 100px;
margin-bottom: 0px;
    height: 100px;
    
}
.pic img{
    width: 110px;
    height:110px;
     float: left;
    margin-right: 60px;
}

.pic  h2{
 
    color: #e66761;
	font-size:36px;
	font-weight: bold ;
   padding-top: 30px;

    }
    .shop1 .adress .add{
        margin-left: 20px;
        margin-top: -21px;
        margin-bottom: 20px;
    }
   
    .shop1 .adress , .number{
        margin-left: 90px; 
       width: 500px;
        font-size: 15px;
    }
    .shop1 h1{
        margin-left: 40px;
    }
    .shop1 .number{

   margin-bottom: 50px;
  }
    .shop1 i  {

      font-size:30px
}
    .shop1 h4 {
  font-size: 26px;
       
}
}
.overlay{
  background:   rgba(0, 167, 157, 0.48);
    border-radius: 10px;
       width: 100%;
    height: 100%;
}
.shop1 .info {
    font-size: 12px;
    margin-left: 150px;
}

.shop1 h4 {
    color: #F46E67;
	font-weight: bold;
     margin-left: 8px;

    float: left;
}
.shop1 .adress{
   
    margin-bottom: 10px;
  
}
.shop1 .number{

   margin-bottom: 30px;
  }

.shop1 i {
    margin-right: 10px;
      float: inherit;
      font-size: 20px;
}

 /* end market */
