/* start our frame work */
body {font-family: 'Open Sans',sans-serif}

 .container {width: 1200px; margin: auto}

.table {height: 100%;display: table}
.table-row{display:table-row }

.text-center {text-align: center}
.upper {text-transform: uppercase}

.main-color{color: #f7600e}

.home{background:url('admin.jpg');
 -webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
 color: #FFF
}
.overlay{
    background: rgba(49, 55, 61, .7); /* el safafea el 3ala sora */
    width: 1366px;height: 608px}
    
    
.home .intro h1{margin: 0;font-weight: 800;font-size: 50px}    
.home .intro p {margin: 5px 0 40px;line-height: 1.9;font-size: 20px;color: #E2E2E2}    
    
.home .buttons button{background: transparent;padding: 5px 0;width: 180px;
font-size: 14px;border: 1px solid #909090;margin: 0 8px;border-radius: 10px;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out}

.home .buttons button:hover{background-color: #f7600e; color: #FFF;border: 1px solid #909090}
.home .buttons button a {color: #FFF}


.footer{background-color: #3b434c;color: #FFF;overflow: hidden;padding: 5px}
.footer .copyright{float: left}
.footer .design{float: right}
/* end home */